<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <!-- 페이징 테스트 -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <!--  -->
   <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/indexPage/nav.css">
   <link rel="stylesheet" href="../../css/section/resultSection.css">
</head>
<body>

    <div class="container">
        <nav class="nav">
            <div class="left__slide__menu__box">
                <div class="user__open__button open__button">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
            <div class="nav__logo">
                <a href="/index" class="logo__title"><img src = "../img/logo.png"></a>
            </div>
            <div class="nav__search">
                <form action="/drink" method="get">
                    <div class="search__box">
                        <input type="search" placeholder="술 이름" name="title" id="title">
                        <input type="submit" value="ok">
                    </div>
                </form>
            </div>
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="list">
                        <a href="/index">home</a>
                    </li>
                    <li class="list">
                        <% if(isAuthenticated){ %> <!--로그인이 된 경우 -->
                            <a href="/logout" class="nav-link1">logout</a>
                          <% } else { %>
                            <a href="/local/index">login</a>
                          <% } %>
                    </li>
                    <li class="list">
                        <% if(isAuthenticated){ %> <!--로그인이 된 경우 -->
                            <a href="/my-pages/:_id">mypage</a>
                          <% } else { %>
                            <a href="/new/index">signup</a>
                          <% } %>
                    </li>
                </ul>
            </div>
            <div class="right__slide__menu__box">
                <div class="menu__open__button open__button">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </nav>
        <main class="section">
    <header class="section__header">
    <div class="title">
    <h1>부산 전통주점</h1>
    </div>

    
    <div class="sortBox">
        <ul class="sort sortByFood">
            <!-- fetch => query로 보내기! -->
            <li class="food fish">
                <span>🐟</span>
            </li>
            <li class="food meat">
                <!-- <i class="fa-regular fa-meat"></i> -->
                <span>🍖</span>
            </li>
            <li class="food jungoal">
                <span>🍲</span>
            </li>
            <li class="food cheese">
                <span>🧀</span>
            </li>
            <li class="food salad">
                <span>🥗</span>
            </li>
        </ul>

    </div>
    </header>
    <aside class="section__aside">
        <div>
            <button type="button" id="busan" onClick="location.href='index'">다른 지역보기</button> 
        </div>
    </aside>
    <article class="section__article">
    <div>
        <% for (var i = 0; i < data.length; i++) { %>
        <h2 class="title">주점명 : <% if(data[i].address.includes("부산")){%><p><%=data[i].name%></p><%} %></h2>
        <p class="address">주소 : <% if(data[i].address.includes("부산")){%><p><%=data[i].address%></p><%} %> </p>
        <p class="phone">전화번호 : <% if(data[i].address.includes("부산")){%><p><%=data[i].phone%></p><%} %> </p>
        <p class="menu">메뉴 : <% if(data[i].address.includes("부산")){%><p><%=data[i].menu%></p><%} %> </p>
        <p class="img">이미지 : <% if(data[i].address.includes("부산")){%><p><%=data[i].link%></p><%} %> </p>
        <!-- <h2 class="SeoulTitle">서울 주점: <%= data[i].name %></h2> -->
        <% } %> 
    </div>
</article>
</main>
</div>


</body>
</html>